# Carpeta donde convergen cartas y archivos fijos
# Linux example:
working_folder=/home/armjorge/linea_licitaciones
# Windows example:
# working_folder=C:\Users\arman\Dropbox\...\IM 2027-2028 Eseotres

# Carpeta raíz para la propuesta final lista para carga
final_proposal=/home/armjorge/linea_licitaciones/Propuesta_Final
# final_proposal=C:\Users\arman\Dropbox\...\Propuesta_Final
